<header>
  <div class="header">
    <app-logo variant="light"></app-logo>
    <div class="navigations-wrapper">
      <nav>
        @for (nav of navigations; track nav.href) {
          <a [routerLink]="nav.href" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">{{ nav.label }}</a>
        }
      </nav>
    </div>
    <div class="buttons-wrapper">
      @if (isOktaEnabled) {
        @if (isAuthenticated) {
          @if (userName) {
            <span class="user-greeting">Hi, {{ userName }}</span>
          } @else {
            <span class="user-greeting">Hi, User</span>
          }
          <app-redirect-button [customClick]="true" (clicked)="signOut()" class-name="secondary" label="Sign Out"></app-redirect-button>
        } @else {
          <app-redirect-button [customClick]="true" (clicked)="signIn()" class-name="transparent" label="Sign In"></app-redirect-button>
        }
      }
      <app-redirect-button href="/" class-name="button">Open an Account</app-redirect-button>
    </div>
  </div>
</header>
