@if (data) {
  <main class="article-detail-page">
    @if (image) {
      <div class="article-detail-image-wrapper">
        <app-image [src]="image" alt="" prop="image" class-name="article-detail-image" [width]="498" [height]="398" objectFit="cover"></app-image>
      </div>
    }
    <app-title heading="h1" prop="title">{{ title }}</app-title>
    @if (content) {
      <app-text [content]="content" prop="content"></app-text>
    }
    <app-call-to-action-section></app-call-to-action-section>
    <app-articles-section title="Related Articles" [cfs]="[]"></app-articles-section>
  </main>
}
