<section class="call-to-action background-blue">
  <div class="container content-wrapper">
    <h2 class="color-light">Unlock Your Financial Future with SecurBank</h2>
    <p class="color-light">Experience effortless banking with SecurBank. Start your journey to financial freedom.</p>
    <div class="buttons-wrapper">
      <app-redirect-button href="/" className="">Open an Account</app-redirect-button>
      <app-redirect-button href="/" className="secondary">Contact Us</app-redirect-button>
    </div>
  </div>
</section>
