@use '../../../../styles/variables' as *;

a.button,
button.button {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding: 0 24px;
  gap: 8px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  background-color: $color-primary-300;
  color: $color-secondary-300 !important;
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;

  &:hover {
    background-color: $color-primary-100;
  }

  &.secondary {
    border: 1px solid $color-grey-100;
    background-color: transparent;
    color: $color-grey-0 !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &.transparent {
    border: 1px solid $color-grey-0;
    background-color: $color-secondary-100 !important;
    color: $color-grey-0 !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: $color-grey-0;
    }
  }
}
