@use '../../../../styles/variables' as *;

footer {
  background-color: $color-grey-0;

  .footer {
    display: flex;
    flex-direction: column;
    padding: 64px 140px;
    gap: 72px;

    .top-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      gap: 72px;

      .categories-wrapper {
        width: 730px;
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .category-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
          gap: 16px;

          h4 {
            color: $color-grey-700;
            font-size: $font-size-large;
            font-weight: $font-weight-semibold;
          }

          nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;

            a {
              color: $color-grey-500;
              font-size: $font-size-medium;

              &:hover {
                color: $color-grey-700;
              }
            }
          }
        }
      }
    }

    .bottom-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      .rights-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          color: $color-grey-400;
          font-size: $font-size-medium;
        }
      }

      .social-media-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        a {
          color: $color-grey-500;
          font-size: $font-size-medium;

          &:hover {
            color: $color-grey-700;
          }
        }
      }
    }
  }
}
