@use '../../../styles/variables' as *;

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px 64px;

  aem-embed,
  ::ng-deep app-aem-embed {
    display: block;
    width: 100%;
    max-width: 1200px;
    min-height: 250px;
    margin-top:50px;
    margin-bottom: 0;
    overflow: visible;
  }

  ::ng-deep app-aem-embed .aem-embed-host {
    width: 100%;
    min-height: 250px;
    overflow: visible;
  }

  .selector-buttons {
    display: flex;
    gap: 12px;
    padding: 24px 0;
    justify-content: center;
  }

  app-hero {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
  }
}
