@if (data) {
  <section class="service-detail">
    @if (image) {
      <div class="service-detail-image-wrapper">
        <app-image [src]="image" alt="" prop="icon" class-name="service-detail-image" [width]="498" [height]="398" objectFit="cover"></app-image>
      </div>
    }
    @if (category) {
      <span class="category">{{ category }}</span>
    }
    <app-title heading="h1" prop="title">{{ title }}</app-title>
    @if (content) {
      <app-text [content]="content" prop="description"></app-text>
    }
    <app-redirect-button href="/">Book Now</app-redirect-button>
  </section>
}
