@use '../../../../../styles/variables' as *;

.service-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  .category {
    font-size: 12px;
    text-transform: uppercase;
    color: $color-primary-300;
    font-weight: $font-weight-medium;
  }
}
